<h2 class="collapse_title">
    <a href="javascript:void(0);" onclick="toggleCollapse( this );" aria-expanded="true" accesskey="R" title="Masquer les champs de recherche" aria-label="Masquer les champs de recherche">
        <span class="icon"><svg><use href="/static/icons/endi.svg#search"></use></svg></span>
        Recherche
        <svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
    </a>
    <div id="delete_filters"></div>
</h2>
<div class="collapse_content">
    <div>
        <form class='form-search'>
            <div class='field-type_'></div>
            <div class='field-name'></div>
            <div class='field-description'></div>
            <div class='field-category-id'></div>
            <div class='field-ref'></div>
            <div class='field-supplier-id'></div>
            <div class='field-supplier-ref'></div>
            <div class='field-mode'></div>
            <div>
                <button class='btn btn-primary icon only' type='submit' title="Rechercher" aria-label="Rechercher">
                	<svg><use href="/static/icons/endi.svg#search"></use></svg>
                </button>
            </div>
        </form>
    </div>
</div>