<section class="size_middle">
    <div role="dialog" id="product-forms" aria-modal="true" aria-labelledby="product-forms_title">
        <form class="form chapter-form">
            <div class="modal_layout">
                <header>
                    <button type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
                        <svg>
                            <use href="/static/icons/endi.svg#times"></use>
                        </svg>
                    </button>
                    <h2 id="product-forms_title">
                        {{title}}
                    </h2>
                </header>
                <div class="modal_content_layout">
                    <div class="modal_content">
                        <fieldset>
                            <div class="field-title"></div>
                            <div class="field-description"></div>
                            <div class="field-display_details"></div>
                        </fieldset>
                    </div>
                    <footer>
                        <button class="btn btn-primary" type="submit" value="submit" formnovalidate>
                            {{title}}
                        </button>
                        <button class="btn" type="reset" value="submit">
                            Annuler
                        </button>
                    </footer>
                </div>
            </div>
        </form>
    </div>
</section>