<div class='well'>
	<form name='criterion'>
		<button type="button" class="icon only unstyled close" title="Fermer le formulaire {{ label }}" aria-label="Fermer le formulaire {{ label }}">
			<svg><use href="/static/icons/endi.svg#times"></use></svg>
		</button>
		<input type='hidden' name='type' value='{{ type }}' />
		<fieldset>
			<legend>{{ label }}</legend>
			<div class='alert alert-info'>
				<ol>
				<li>Configurer vos critères</li>
				<li>Créer une clause 'OU'</li>
				<li>Sélectionner les critères à utiliser dans la clause 'OU'</li>
				</ol>
			</div>
			<div class='row form-row'>
				<div class='form-group col-md-12'>
					<label for="criteria">Combiner les critères</label>
					<select multiple id='criteria' name='criteria' class='form-control'>
						{{#criteria_options }}
						<option value='{{value}}' {{#selected}}selected{{/selected}}>{{label}}</option>
						{{/criteria_options }}
					</select>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary btn-success" name='submit'>Créer</button>
			<button type="reset" class="btn btn-danger" name="cancel">Annuler</button>
		</div>
	</form>
</div>
