<div class='form-group'>
    {{#if title}}
    <label>{{title}}</label>
    {{/if}}
    {{#if editable}}
        <div class="radio">
            <label for="{{tagId}}">
                <input
                    id="{{tagId}}"
                    type='radio'
                    name='{{ field_name }}'
                    value='{{value}}'
                    {{#if checked}}checked{{/if}}
                    />
                <span>{{inline_label}}</span>
                <span class="screen-reader-text">{{ariaLabel}}</span>
            </label>
        </div>
        {{#if description}}
        <span class='help-block'>{{ description }}</span>
        {{/if}}
    {{else}}
        <div>{{label}}</div>
    {{/if}}
</div>
