{{#if editable}}
    {{#if label}}
        {{#if required}}
            <label for="{{tagId}}" class="required" title="Champ obligatoire">
        {{else}}
            <label for="{{tagId}}">
        {{/if}}
        <svg class="error">
            <use href="/static/icons/endi.svg#exclamation-triangle"></use>
        </svg>
        {{label}}
        {{#if required}}
            <span class="icon required">
                <svg>
                    <use href="/static/icons/endi.svg#required"></use>
                </svg>
                <span><span class="screen-reader-text">Champ</span> Obligatoire</span>
            </span>
        {{/if}}
        </label>
    {{/if}}
    <select id="{{tagId}}" {{#if multiple}}multiple{{/if}} name='{{field_name}}' {{#unless editable}}disabled{{/unless}} placeholder='{{ placeholder }}' title='{{title}}'>
        {{#each options}}
            <option value='{{lookup this ../id_key }}' {{#if selected}}selected{{/if}}>{{lookup this ../label_key}}</option>
        {{/each}}
    </select>
    {{#if ariaLabel}}
        <span class="screen-reader-text">{{ ariaLabel }}</span>
    {{/if}}
    {{#if description}}
        <span class='help-block'>{{ description }}</span>
    {{/if}}
{{else}}
    <span class="label">{{label}}</span>
    <span class='form-control data'>
        {{#if currentValueLabel}}
            {{ currentValueLabel }}
            {{ else }}
            <em>Non définie</em>
        {{/if}}
    </span>
    </div>
{{/if}}