{{#if is_signed}}
    <span class="icon only tag positive" title="Fichier signé numériquement">
        <svg role="presentation"><use href="/static/icons/endi.svg#lock"></use></svg>
        <span class="screen-reader-text">Fichier signé numériquement</span>
    </span>
{{else}}
    <span class="icon only tag caution" title="Fichier non signé numériquement">
        <svg role="presentation"><use href="/static/icons/endi.svg#lock-open"></use></svg>
        <span class="screen-reader-text">Fichier non signé numériquement</span>
    </span>
{{/if}}
{{{label}}}
<a href="#" class="edit-btn btn icon only unstyled" title="Éditer ce fichier" aria-label="Éditer ce fichier">
    <svg><use href="/static/icons/endi.svg#pen"></use></svg>
</a>
<a href="#" class="download-btn btn icon only unstyled" title="Télécharger ce fichier" aria-label="Télécharger ce fichier">
    <svg><use href="/static/icons/endi.svg#download"></use></svg>
</a>
