<td class='col_text description'>
    Facture d’acompte
</td>
{{#if show_date}}
<td class='col_date date'> à la commande </td>
{{/if}}
<td class='col_number'>{{{ amount_label }}}</td>
<td class='col_actions width_two'></td>
<td class='col_actions row_ordering'></td>