<template>
  <thead>
    <tr>
      <th scope="col" class="col_status" title="Statut">
        <span class="screen-reader-text">Statut</span>
      </th>
      <td class="level_spacer"></td>
      <th scope="col" class="col_text">Description et type</th>
      <th scope="col" class="col_text">Nom et taille du fichier</th>
      <th scope="col" class="col_date">Déposé le</th>
      <th scope="col" class="col_status">Fusion</th>
      <th scope="col" class="col_actions width_four">
        <span class="screen-reader-text">Actions</span>
      </th>
    </tr>
  </thead>
</template>
