// general typographic rules

body.caerp {
	color: var(--text-color);
	font-family: var(--font-family-main);

	input,
	textarea,
	button {
		font-family: var(--font-family-main);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.base_menu,
	.base_menu button,
	.base_menu input {
		font-family: var(--font-family-secondary);
	}

	h1 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	h2 {
		font-size: 1.375rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.25rem;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h4 {
		font-size: 1.125rem;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h5 {
		font-size: 1.125rem;
		font-weight: normal;
		margin-bottom: .2em;
	}

	h6 {
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h2>img,
	h3>img {
		margin: 0 var(--padding-s);
		vertical-align: middle;

		&:first-child {
			margin: 0 var(--padding-s) 0 0;
		}

		&:last-child {
			margin: 0 0 0 var(--padding-s);
		}
	}

	p {
		line-height: 1.25;
	}

	.positive_text {
		color: var(--func-positive-color);
	}

	.negative_text {
		color: var(--func-negative-color);
	}

	.highlight {
		background: var(--message-info-background-color);
		margin: .5em 0;
		padding: 2px;
	}

	.highlight_title {
		background: var(--message-info-background-color);
		font-size: 1.5rem;
		margin: .5em 0;
		padding: 2px;
	}

	.highlight_pen {
		background: var(--highlight-color) !important;
		color: var(--static-color) !important;
	}

	.oversized_text {
		color: var(--oversized-text-color);
		font-size: 2rem;
		font-weight: bold;
		padding: .5em 0;
	}

	.important_number {
		font-size: 3rem;
		text-align: center;
	}

	sup {
		font-size: .625em;
	}

	.data_display {

		h2,
		h3 {
			padding: var(--padding-s) 0;

			+div {
				padding-top: var(--padding-m);
			}
		}

		.two_cols {
			align-items: baseline;
			align-items: first baseline;
			padding: var(--padding-s) 0;
		}

		strong,
		b {
			line-height: 1.1;
		}

		i,
		em {
			color: var(--text-greyed-color);
		}

		em.empty {
			font-size: .875rem;
		}

		div.empty {
			color: var(--text-greyed-color);

			dt {
				font-weight: normal;
			}

			dd {
				font-size: .875rem;
			}
		}

		&.separate_block {
			margin-bottom: var(--padding-xl);
		}
	}

	address {
		font-style: normal;
	}
}
