// user account pages
@import 'layout_variables';
@import './variables';

body.caerp {
	.user_header {
		.user_avatar {
			clip-path: circle(3rem);
			flex: 0 0 6rem;
			height: 6rem;
			margin: 0 var(--padding-xl) 0 var(--padding-m);
			width: 6rem;

			svg {
				height: 4.5rem;
				margin: 1.5rem .75rem 0;
				width: 4.5rem;
			}
		}

		.btn {
			margin-left: var(--padding-xl);
		}

		p {
			padding-bottom: var(--padding-m);
		}

		.highlight {
			padding: 2px .5em;
		}

		+.layout.flex {
			margin-top: var(--padding-5xl);
		}
	}

	.user_dashboard {
		.separate_bottom {
			align-items: center;
			margin: 0;
			padding: var(--padding-m) 0;
		}

		p+.btn,
		p+.btn-container .btn {
			margin-top: var(--padding-s);
		}
	}

	.content_vertical_padding {
		.btn {
			margin: var(--padding-s) 0;
		}
	}

	.doc_list {
		.form-group {
			padding-bottom: var(--padding-s);
			width: 100%;
		}
	}
}