<div class='separate_top'>
	<div class='messages-container'></div>
	<div class='totals grand-total'></div>
	<div class='form-section'>
		<div class='content'>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#internal-container" aria-controls="internal-container" id="internal-tabtitle" role="tab" data-toggle="tab">
						<span class="icon"><svg><use href="/static/icons/endi.svg#building"></use></svg></span>
						<span>{{ internalTabLabel }}</span>
					</a>
				</li>
				<li role="presentation">
					<a href="#activity-container" aria-controls="activity-container" id="activity-tabtitle" role="tab" data-toggle="tab" title="Achats rattachés à un client" aria-label="Achats rattachés à un client">
						<span class="icon"><svg><use href="/static/icons/endi.svg#address-card"></use></svg></span>
						<span>{{ externalTabLabel }}</span>
					</a>
				</li>
			</ul>
			<div class='tab-content content'>
				<div id="internal-container" class="tab-pane fade in active" role="tabpanel" aria-labelledby="internal-tabtitle">
					<div class="content_vertical_padding">
						<h3 class="print-only">
							{{ internalTabLabel }}
						</h3>
						<p> 
							{{ internalDescription }}
						</p>
					</div>
					<div class='internal-total'></div>
					<div class='internal-lines content_vertical_padding'></div>
					<div class='internal-kmlines content_vertical_padding'>
						<div class='alert alert-warning'>
							<span class="icon"><svg><use href="/static/icons/endi.svg#exclamation-circle"></use></svg></span>
							Il n’est plus possible de configurer des frais kilométriques sur cette année
						</div>
					</div>
				</div>
				<div id="activity-container" class="tab-pane fade" role="tabpanel" aria-labelledby="activity-tabtitle">
					<div class="content_vertical_padding">
						<h3 class="print-only">
							{{ externalTabLabel }}
						</h3>
						<p>
							{{ externalDescription }}
						</p>
					</div>
					<div class='activity-total'></div>
					<div class='activity-lines content_vertical_padding'></div>
					<div class='activity-kmlines content_vertical_padding'>
						<div class='alert alert-warning'>
							<span class="icon"><svg><use href="/static/icons/endi.svg#exclamation-circle"></use></svg></span>
							Il n’est plus possible de configurer des frais kilométriques sur cette année
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="expense_form" class="modal_view size_large modalRegion"></section>
