body.caerp {
	.leaflet-container {
		.leaflet-pane {
			z-index: $floatingLayer;
		}
		.leaflet-control,
		.leaflet-top,
		.leaflet-bottom {
			z-index: $floatingLayerContent;
		}
		.leaflet-control-zoom a {
			color: var(--static-color);
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				background: var(--form-icon-button-hover-color);
			}
		}

		.leaflet-control-layers-list {
			input[type="checkbox"] {
				margin-right: .5em;
			}

			label > span {
				align-items: center;
				display: flex;
				flex-wrap: nowrap;
				max-width: 20vw;
				padding: .25em 0;

				span {
					line-height: 1.1;
					margin-top: -.125em;
					padding: 0;
				}
			}
		}

		.leaflet-marker-icon.leaflet-div-icon {
			background: unset;
			border: unset;

			.map_location {
				height: 1.5rem;
				margin: -.75rem 0 0 -.75rem;
				width: 1.5rem;

				> svg {
					fill: var(--map-pin-color);
					filter: drop-shadow(1px 1px 3px var(--static-invert-color) );
					height: 100%;
					width: 100%;
				}

				&.favourite > svg {
					fill: var(--map-favourite-pin-color);
					filter: drop-shadow(1px 1px 3px var(--static-invert-color) );
				}
			}
			&:hover,
			&:focus {
				.map_location > svg {
					fill: var(--form-icon-button-hover-color);
					filter: drop-shadow(1px 1px 3px var(--static-color) );
				}
			}
		}
		.leaflet-marker-icon.marker-cluster-small {
			background: none;

			div {
				background: var(--map-cluster-small-color);
			}
		}
		.leaflet-marker-icon.marker-cluster-medium {
			background: none;

			div {
				background: var(--map-cluster-medium-color);
			}
		}
		.leaflet-marker-icon.marker-cluster-large {
			background: none;

			div {
				background: var(--map-cluster-large-color);
			}
		}
		.leaflet-popup {
			.leaflet-popup-content-wrapper {
				background: var(--screen-background-color);
				color: var(--text-color);
				border-radius: 4px;
				min-width: 250px;
			}

			.leaflet-popup-content {
				margin: var(--padding-m) var(--padding-m) var(--padding-s);

				> div {
					p {
						color: var(--text-color);

						&:first-child {
							margin-right: var(--padding-l);

							a {
								font-size: 1.125em;
							}

							a:link,
							a:visited {
								color: var(--text-color);
							}

							a:hover,
							a:focus,
							a:active {
								color: var(--form-icon-button-hover-color);
							}
						}
					}
				}
			}

			ul.users {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				list-style-type: none;

				li {
					align-items: center;
					display: flex;
					flex: 1 0 105px;
					margin: var(--padding-s) var(--padding-s) 0 0;

					&:only-child {
						flex-basis: 100%;
					}
				}

				.user_avatar {
					flex: 0 0 2rem;
					height: 2rem;

					+ span {
						flex: 1 1 auto;
					}
				}
			}

			ul.contacts {
				list-style-type: none;
				margin: var(--padding-s) 0 0 var(--padding-s);

			}
		}

		.leaflet-popup-tip {
			background: var(--screen-background-color);
		}

		.leaflet-popup-close-button {
			color: var(--text-color);
			font-weight: bold;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				color: var(--form-icon-button-hover-color);
			}
		}

		.marker-cluster div {
			// Enlève l'effet de halo
			background-color: transparent;
			color: var(--theme-text-color);
		}

		.marker-cluster-small {
			background-color: var(--func-neutral-color);
		}

		.marker-cluster-medium {
			background-color: #007ab1cc;
		}

		.marker-cluster-large {
			background-color: #007ab199;
		}
	}

	.minimap .leaflet-container {
		.leaflet-marker-icon.leaflet-div-icon {
			.map_location {
				height: 3rem;
				margin: -1.5rem 0 0 -1.5rem;
				width: 3rem;
			}
		}
	}
}
