@charset "UTF-8";
:root {
  --menu-border-width: 5px;
  --menu-mini-width: 2.5rem;
  --menu-maxi-width: 15.625rem;
  --menu-slide-margin: -13.125rem;
  --padding-xs: 2.5px;
  --padding-s: 5px;
  --padding-r: 7.5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-2xl: 25px;
  --padding-3xl: 30px;
  --padding-4xl: 35px;
  --padding-5xl: 40px;
  --padding-6xl: 45px;
  --padding-7xl: 50px;
  --negative-padding-s: -5px;
  --negative-padding-m: -10px;
  --negative-padding-l: -15px;
  --negative-padding-xl: -20px;
  --print-padding-s: 1.25pt;
  --print-padding-r: 2.5pt;
  --print-padding-m: 5pt;
  --print-padding-l: 10pt;
  --print-padding-xl: 15pt;
  --print-padding-2xl: 20pt;
  --variable-horizontal-padding-xs: .3125rem;
  --variable-horizontal-padding-s: .9375rem;
  --variable-horizontal-padding-m: 1.875rem;
  --variable-horizontal-padding-l: 2.8125rem;
  --negative-variable-horizontal-padding-s: -.9375rem;
  --negative-variable-horizontal-padding-m: -1.875rem;
  --variable-vertical-padding-m: .625rem;
  --variable-vertical-padding-l: 1.25rem;
  --variable-vertical-padding-xl: 2.5rem;
  --icon-size-s: 1.125rem;
  --icon-size-m: 1.5rem;
  --icon-size-l: 2rem; }

@media (max-width: 75rem) {
  :root {
    --menu-horizontal-padding: 1rem;
    --menu-horizontal-negative-margin: -1rem;
    --menu-link-padding: calc( 1rem - 5px );
    --menu-sub-link-padding: calc( 1rem + 5px ); } }

@media (min-width: 75rem) {
  :root {
    --menu-horizontal-padding: 2rem;
    --menu-horizontal-negative-margin: -2rem;
    --menu-link-padding: calc( 2rem - 5px );
    --menu-maxi-width: 18.75rem;
    --menu-slide-margin: -16.25rem;
    --menu-sub-link-padding: calc( 2rem + 10px ); } }

body.caerp.manage-view .page-header-block .message, body.caerp.company_index-view .page-header-block .message {
  padding-top: var(--variable-vertical-padding-l); }

body.caerp.manage-view ul.activities, body.caerp.company_index-view ul.activities {
  padding-bottom: var(--padding-m); }
  body.caerp.manage-view ul.activities a, body.caerp.company_index-view ul.activities a {
    color: var(--text-color);
    display: flex;
    font-size: .825rem;
    justify-content: space-between;
    flex-direction: row-reverse;
    line-height: 1.5;
    text-decoration: none; }
    body.caerp.manage-view ul.activities a:hover, body.caerp.manage-view ul.activities a:focus, body.caerp.manage-view ul.activities a:active, body.caerp.company_index-view ul.activities a:hover, body.caerp.company_index-view ul.activities a:focus, body.caerp.company_index-view ul.activities a:active {
      text-decoration: underline; }
  body.caerp.manage-view ul.activities .activity_time, body.caerp.company_index-view ul.activities .activity_time {
    padding-left: var(--padding-m);
    white-space: nowrap; }

body.caerp .dashboard {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: var(--negative-padding-m); }
  body.caerp .dashboard .columns {
    column-count: 2;
    padding-bottom: var(--padding-xl);
    padding-top: var(--padding-m); }
  body.caerp .dashboard .dash_elem {
    background: var(--screen-background-color);
    box-shadow: 0 0 5px var(--box-shadow-color);
    display: inline-block;
    margin: var(--padding-m);
    page-break-inside: avoid;
    -webkit-break-inside: avoid;
    break-inside: avoid;
    width: calc(100% - 20px); }
    body.caerp .dashboard .dash_elem h2 {
      page-break-before: avoid;
      -webkit-break-before: avoid;
      break-before: avoid; }
    body.caerp .dashboard .dash_elem p.message {
      margin: var(--padding-s) var(--padding-m); }
    body.caerp .dashboard .dash_elem .panel-body > p {
      margin: 0 var(--padding-m); }
    body.caerp .dashboard .dash_elem ul {
      list-style-type: none;
      margin: 0;
      padding: var(--padding-m); }
      body.caerp .dashboard .dash_elem ul.favourites {
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 0 0 5px;
        justify-content: center; }
        body.caerp .dashboard .dash_elem ul.favourites li {
          flex: 0 0 50%;
          margin: 0;
          padding: 0; }
        body.caerp .dashboard .dash_elem ul.favourites button,
        body.caerp .dashboard .dash_elem ul.favourites a {
          align-items: center;
          display: flex;
          height: 4em;
          line-height: 1.25;
          margin: 0 5px 5px 0;
          text-align: left;
          width: calc(100% - 5px); }
          body.caerp .dashboard .dash_elem ul.favourites button svg,
          body.caerp .dashboard .dash_elem ul.favourites a svg {
            height: 2.5em;
            flex: 0 0 2.5em;
            margin: 0 var(--padding-m) 0 var(--negative-padding-m); }
          body.caerp .dashboard .dash_elem ul.favourites button:hover, body.caerp .dashboard .dash_elem ul.favourites button:focus, body.caerp .dashboard .dash_elem ul.favourites button:active,
          body.caerp .dashboard .dash_elem ul.favourites a:hover,
          body.caerp .dashboard .dash_elem ul.favourites a:focus,
          body.caerp .dashboard .dash_elem ul.favourites a:active {
            text-decoration: none; }
  body.caerp .dashboard .alert {
    margin: var(--padding-s);
    padding: var(--padding-m); }
    body.caerp .dashboard .alert p + p,
    body.caerp .dashboard .alert p + ul {
      margin-top: var(--padding-s); }
    body.caerp .dashboard .alert li {
      padding: var(--padding-s) 0; }
  body.caerp .dashboard h2 {
    align-items: center;
    background: var(--title-background-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    height: 2.4em;
    justify-content: stretch;
    line-height: 1;
    position: relative;
    width: 100%; }
    body.caerp .dashboard h2 .icon:first-child {
      align-items: center;
      background: var(--theme-color);
      display: flex;
      flex: 0 0 2.5em;
      height: 2.5em;
      justify-content: center; }
      body.caerp .dashboard h2 .icon:first-child svg {
        display: block;
        fill: var(--theme-text-color);
        height: 2em;
        width: 2em; }
    body.caerp .dashboard h2 .icon.caution:first-child {
      background: var(--func-caution-color); }
    body.caerp .dashboard h2 .icon.invalid:first-child {
      background: var(--func-negative-color); }
    body.caerp .dashboard h2 .icon.close {
      align-self: flex-start;
      flex: 0 0 1.75em; }
    body.caerp .dashboard h2 .icon:first-child + span,
    body.caerp .dashboard h2 a > span {
      display: block;
      display: -webkit-box;
      flex: 1 1 auto;
      line-clamp: 2 "…";
      max-height: 2.4em;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    body.caerp .dashboard h2 .icon:first-child + span {
      padding-left: var(--padding-m); }
    body.caerp .dashboard h2 a {
      align-items: center;
      display: flex;
      color: var(--text-color);
      flex: 1 1 auto;
      justify-content: space-between;
      padding-left: var(--padding-m);
      text-decoration: none; }
      body.caerp .dashboard h2 a svg {
        fill: var(--form-main-button-background-color);
        flex: 0 0 auto;
        margin: 0 var(--padding-s);
        opacity: .25; }
      body.caerp .dashboard h2 a:hover, body.caerp .dashboard h2 a:focus, body.caerp .dashboard h2 a:active {
        text-decoration: none; }
        body.caerp .dashboard h2 a:hover svg, body.caerp .dashboard h2 a:focus svg, body.caerp .dashboard h2 a:active svg {
          opacity: 1; }
  body.caerp .dashboard table {
    margin: var(--padding-m) var(--padding-s);
    width: calc(100% - 10px); }
    body.caerp .dashboard table thead tr:first-child th[scope="col"] {
      height: auto; }

body.caerp .main_toolbar + .dashboard {
  padding-top: var(--padding-m); }

@media (min-width: 87.5rem) {
  body.caerp .dashboard .columns {
    column-count: 3; } }

@media (min-width: 50rem) {
  body.caerp .dashboard .col {
    width: 50%; } }

@media (max-width: 50rem) {
  body.caerp .dashboard {
    padding-top: var(--padding-m); }
    body.caerp .dashboard .columns {
      column-count: 1;
      display: flex;
      flex-direction: column; }
      body.caerp .dashboard .columns #tasklist_container {
        order: 1; }
      body.caerp .dashboard .columns #event_container {
        order: 2; }
      body.caerp .dashboard .columns #unpaid_invoices_container {
        order: 3; }
    body.caerp .dashboard .col {
      width: 100%; }
    body.caerp .dashboard .dash_elem ul.favourites button,
    body.caerp .dashboard .dash_elem ul.favourites a {
      height: 3.5em; }
      body.caerp .dashboard .dash_elem ul.favourites button svg,
      body.caerp .dashboard .dash_elem ul.favourites a svg {
        height: var(--icon-size-l);
        flex-basis: var(--icon-size-l);
        margin: 0 var(--padding-s) 0 var(--negative-padding-s); } }

@media (max-width: 31.25rem) {
  body.caerp .main_area .dashboard.layout.flex {
    max-width: calc(100vw - 10px); }
    body.caerp .main_area .dashboard.layout.flex .dash_elem {
      width: calc(100vw - 25px); }
      body.caerp .main_area .dashboard.layout.flex .dash_elem ul.favourites li {
        flex: 0 0 100%; }
        body.caerp .main_area .dashboard.layout.flex .dash_elem ul.favourites li a {
          height: 3em; }
          body.caerp .main_area .dashboard.layout.flex .dash_elem ul.favourites li a svg {
            height: var(--icon-size-m);
            flex-basis: var(--icon-size-m);
            margin-left: 0; } }
