:root {
  --menu-border-width: 5px;
  --menu-mini-width: 2.5rem;
  --menu-maxi-width: 15.625rem;
  --menu-slide-margin: -13.125rem;
  --padding-xs: 2.5px;
  --padding-s: 5px;
  --padding-r: 7.5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-2xl: 25px;
  --padding-3xl: 30px;
  --padding-4xl: 35px;
  --padding-5xl: 40px;
  --padding-6xl: 45px;
  --padding-7xl: 50px;
  --negative-padding-s: -5px;
  --negative-padding-m: -10px;
  --negative-padding-l: -15px;
  --negative-padding-xl: -20px;
  --print-padding-s: 1.25pt;
  --print-padding-r: 2.5pt;
  --print-padding-m: 5pt;
  --print-padding-l: 10pt;
  --print-padding-xl: 15pt;
  --print-padding-2xl: 20pt;
  --variable-horizontal-padding-xs: .3125rem;
  --variable-horizontal-padding-s: .9375rem;
  --variable-horizontal-padding-m: 1.875rem;
  --variable-horizontal-padding-l: 2.8125rem;
  --negative-variable-horizontal-padding-s: -.9375rem;
  --negative-variable-horizontal-padding-m: -1.875rem;
  --variable-vertical-padding-m: .625rem;
  --variable-vertical-padding-l: 1.25rem;
  --variable-vertical-padding-xl: 2.5rem;
  --icon-size-s: 1.125rem;
  --icon-size-m: 1.5rem;
  --icon-size-l: 2rem; }

@media (max-width: 75rem) {
  :root {
    --menu-horizontal-padding: 1rem;
    --menu-horizontal-negative-margin: -1rem;
    --menu-link-padding: calc( 1rem - 5px );
    --menu-sub-link-padding: calc( 1rem + 5px ); } }

@media (min-width: 75rem) {
  :root {
    --menu-horizontal-padding: 2rem;
    --menu-horizontal-negative-margin: -2rem;
    --menu-link-padding: calc( 2rem - 5px );
    --menu-maxi-width: 18.75rem;
    --menu-slide-margin: -16.25rem;
    --menu-sub-link-padding: calc( 2rem + 10px ); } }

body.caerp[class*="estimations/{id}"] .main_actions div[role="group"],
body.caerp[class*="invoices/{id}"] .main_actions div[role="group"] {
  order: 0; }

body.caerp[class*="estimations/{id}"] .main_actions .child-container > div,
body.caerp[class*="invoices/{id}"] .main_actions .child-container > div {
  display: flex; }
  body.caerp[class*="estimations/{id}"] .main_actions .child-container > div > div,
  body.caerp[class*="invoices/{id}"] .main_actions .child-container > div > div {
    margin: 0 0 var(--padding-s) var(--padding-s); }

body.caerp[class*="estimations/{id}"] .layout.flex div[class*="col-md"] > div:not(:last-child),
body.caerp[class*="invoices/{id}"] .layout.flex div[class*="col-md"] > div:not(:last-child) {
  padding-bottom: var(--padding-xl); }

body.caerp[class*="estimations/{id}"] .quotation_item_title,
body.caerp[class*="invoices/{id}"] .quotation_item_title {
  justify-content: space-between;
  padding: 0 2px var(--padding-s);
  width: 100%; }
  body.caerp[class*="estimations/{id}"] .quotation_item_title h3 em,
  body.caerp[class*="invoices/{id}"] .quotation_item_title h3 em {
    font-weight: normal; }
  body.caerp[class*="estimations/{id}"] .quotation_item_title > div:last-child:not(:first-child),
  body.caerp[class*="invoices/{id}"] .quotation_item_title > div:last-child:not(:first-child) {
    white-space: nowrap; }

body.caerp[class*="estimations/{id}"] .separate_block .form-group,
body.caerp[class*="invoices/{id}"] .separate_block .form-group {
  padding-bottom: var(--padding-s); }

body.caerp[class*="estimations/{id}"] .content > button,
body.caerp[class*="invoices/{id}"] .content > button {
  margin: var(--padding-s); }

body.caerp[class*="estimations/{id}"] .ht-before-discounts table,
body.caerp[class*="estimations/{id}"] .ht-after-discounts table,
body.caerp[class*="estimations/{id}"] .total-ttc table,
body.caerp[class*="estimations/{id}"] .total-due table,
body.caerp[class*="invoices/{id}"] .ht-before-discounts table,
body.caerp[class*="invoices/{id}"] .ht-after-discounts table,
body.caerp[class*="invoices/{id}"] .total-ttc table,
body.caerp[class*="invoices/{id}"] .total-due table {
  margin-bottom: var(--padding-l); }

body.caerp[class*="estimations/{id}"] .ht-before-discounts table tr.row_recap th,
body.caerp[class*="estimations/{id}"] .ht-before-discounts table tr.row_recap td:not(.level_spacer):not(.empty),
body.caerp[class*="estimations/{id}"] .ht-after-discounts table tr.row_recap th,
body.caerp[class*="estimations/{id}"] .ht-after-discounts table tr.row_recap td:not(.level_spacer):not(.empty),
body.caerp[class*="estimations/{id}"] .total-ttc table tr.row_recap th,
body.caerp[class*="estimations/{id}"] .total-ttc table tr.row_recap td:not(.level_spacer):not(.empty),
body.caerp[class*="estimations/{id}"] .total-due table tr.row_recap th,
body.caerp[class*="estimations/{id}"] .total-due table tr.row_recap td:not(.level_spacer):not(.empty),
body.caerp[class*="invoices/{id}"] .ht-before-discounts table tr.row_recap th,
body.caerp[class*="invoices/{id}"] .ht-before-discounts table tr.row_recap td:not(.level_spacer):not(.empty),
body.caerp[class*="invoices/{id}"] .ht-after-discounts table tr.row_recap th,
body.caerp[class*="invoices/{id}"] .ht-after-discounts table tr.row_recap td:not(.level_spacer):not(.empty),
body.caerp[class*="invoices/{id}"] .total-ttc table tr.row_recap th,
body.caerp[class*="invoices/{id}"] .total-ttc table tr.row_recap td:not(.level_spacer):not(.empty),
body.caerp[class*="invoices/{id}"] .total-due table tr.row_recap th,
body.caerp[class*="invoices/{id}"] .total-due table tr.row_recap td:not(.level_spacer):not(.empty) {
  background: none;
  font-size: 1.1rem; }

@media (min-width: 75rem) {
  body.caerp[class*="estimations/{id}"] .main_actions div.totals,
  body.caerp[class*="invoices/{id}"] .main_actions div.totals {
    order: 1; }
  body.caerp[class*="estimations/{id}"] .main_actions div.child-container,
  body.caerp[class*="invoices/{id}"] .main_actions div.child-container {
    order: 2; } }

@media (max-width: 75rem) {
  body.caerp[class*="estimations/{id}"] .main_actions,
  body.caerp[class*="invoices/{id}"] .main_actions {
    flex-wrap: wrap; }
    body.caerp[class*="estimations/{id}"] .main_actions div.totals,
    body.caerp[class*="invoices/{id}"] .main_actions div.totals {
      order: 2;
      width: 100%; }
    body.caerp[class*="estimations/{id}"] .main_actions div.child-container,
    body.caerp[class*="invoices/{id}"] .main_actions div.child-container {
      order: 1; } }
