:root {
  --menu-border-width: 5px;
  --menu-mini-width: 2.5rem;
  --menu-maxi-width: 15.625rem;
  --menu-slide-margin: -13.125rem;
  --padding-xs: 2.5px;
  --padding-s: 5px;
  --padding-r: 7.5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-2xl: 25px;
  --padding-3xl: 30px;
  --padding-4xl: 35px;
  --padding-5xl: 40px;
  --padding-6xl: 45px;
  --padding-7xl: 50px;
  --negative-padding-s: -5px;
  --negative-padding-m: -10px;
  --negative-padding-l: -15px;
  --negative-padding-xl: -20px;
  --print-padding-s: 1.25pt;
  --print-padding-r: 2.5pt;
  --print-padding-m: 5pt;
  --print-padding-l: 10pt;
  --print-padding-xl: 15pt;
  --print-padding-2xl: 20pt;
  --variable-horizontal-padding-xs: .3125rem;
  --variable-horizontal-padding-s: .9375rem;
  --variable-horizontal-padding-m: 1.875rem;
  --variable-horizontal-padding-l: 2.8125rem;
  --negative-variable-horizontal-padding-s: -.9375rem;
  --negative-variable-horizontal-padding-m: -1.875rem;
  --variable-vertical-padding-m: .625rem;
  --variable-vertical-padding-l: 1.25rem;
  --variable-vertical-padding-xl: 2.5rem;
  --icon-size-s: 1.125rem;
  --icon-size-m: 1.5rem;
  --icon-size-l: 2rem; }

@media (max-width: 75rem) {
  :root {
    --menu-horizontal-padding: 1rem;
    --menu-horizontal-negative-margin: -1rem;
    --menu-link-padding: calc( 1rem - 5px );
    --menu-sub-link-padding: calc( 1rem + 5px ); } }

@media (min-width: 75rem) {
  :root {
    --menu-horizontal-padding: 2rem;
    --menu-horizontal-negative-margin: -2rem;
    --menu-link-padding: calc( 2rem - 5px );
    --menu-maxi-width: 18.75rem;
    --menu-slide-margin: -16.25rem;
    --menu-sub-link-padding: calc( 2rem + 10px ); } }

body.caerp .user_header .user_avatar {
  clip-path: circle(3rem);
  flex: 0 0 6rem;
  height: 6rem;
  margin: 0 var(--padding-xl) 0 var(--padding-m);
  width: 6rem; }
  body.caerp .user_header .user_avatar svg {
    height: 4.5rem;
    margin: 1.5rem .75rem 0;
    width: 4.5rem; }

body.caerp .user_header .btn {
  margin-left: var(--padding-xl); }

body.caerp .user_header p {
  padding-bottom: var(--padding-m); }

body.caerp .user_header .highlight {
  padding: 2px .5em; }

body.caerp .user_header + .layout.flex {
  margin-top: var(--padding-5xl); }

body.caerp .user_dashboard .separate_bottom {
  align-items: center;
  margin: 0;
  padding: var(--padding-m) 0; }

body.caerp .user_dashboard p + .btn,
body.caerp .user_dashboard p + .btn-container .btn {
  margin-top: var(--padding-s); }

body.caerp .content_vertical_padding .btn {
  margin: var(--padding-s) 0; }

body.caerp .doc_list .form-group {
  padding-bottom: var(--padding-s);
  width: 100%; }
