<form class='modal_content_layout layout'>
    <div class="modal_content">
        <div class='row form-row'>
            <div class='date required col-md-6'></div>
            <div class='category col-md-6'></div>
        </div>
        <div class='row form-row'>
            <div class='type_id required col-md-12'></div>
        </div>
        <div class='row form-row'>
            <div class='description required col-md-12'></div>
        </div>
        <div class='row form-row'>
            <div class='ht col-md-6'></div>
            <div class='tva col-md-6'></div>
        </div>
        <div class='row form-row'>
            <div class='business_link col-md-12'></div>
        </div>
    </div>
    <footer>
        <button class='btn btn-success btn-primary' type='submit' value='submit' formnovalidate>
            {{ title }}
        </button>
        <button class='btn btn-default secondary-action' type='reset' value='submit'>
            Fermer
        </button>
    </footer>
</form>