<td class='col_date'>{{{ date }}}</td>
<td class='col_text'>{{{ description }}}</td>
<td class='col_number'>{{{ stock_variation }}}</td>
<td class="col_actions width_two">
	<ul>
		<li class='edit'></li>
		<li class='delete'></li>
	</ul>
</td>