// product catalogue tree view

@media (min-width: $wideWidth ) {
	body.caerp .product_catalogue {
		>div:nth-child(2) {
			border-left: 1px dashed var(--border-trans-color);
			padding: 0 0 0 var(--padding-s);
		}
	}
}

@media (max-width: $wideWidth ) {
	body.caerp .product_catalogue {
		flex-wrap: wrap;

		>div {
			flex: 1 0 100%;

			&:nth-child(2) {
				border-top: 1px dashed var(--border-trans-color);
				margin-top: var(--padding-m);
				padding: var(--padding-s) 0 0 0;

				table {
					min-width: 25em;
				}
			}
		}
	}
}